
/*Logo*/
    .logo { position: relative;
            width: 100px;
            left: 0;
            top: -15px;
            background-size: contain;}

/* Categories styling */

.icon {
    position: relative;
    left: 50%;
    margin-bottom: 10px;
    color:#f4a261;
    font-size: 2rem;
}
