
/*Logo*/
    .logo { position: relative;
            width: 100px;
            left: 0;
            top: -15px;
            background-size: contain;}

/* Categories styling */

.title{
    font-size: 100px;
}
