{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/to-do-list.css') }}">
    <!-- Compiled and minified CSS from Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    
    <title>To Do Lists</title>

</head>
<body>
<h3 class="center teal lighten-4">My Categories </h3>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_category') }}" class="btn-floating btn-large tooltipped pulse" data-position="bottom" data-tooltip="Add Category"><i class="fas fa-plus-square"></i>
                 <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <div class="row">
        {% for category in categories %}
            <div class="col s12 m3">
                <div class="card teal lighten-4 text-shadow center-align">
                    <div class="card-content white-text">
                        <span class="card-title">{{ category.category_name }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn green accent-4">Edit</a>
                        <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn light-blue lighten-1">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


            


<script src="{{ url_for('static', filename='js/to-do.js') }}"></script>
    
</body>
</html>

{% endblock %}