{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/to-do-list.css') }}">
    <!-- Compiled and minified CSS from Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    
    <title>To Do Lists</title>

</head>
<body>
<h3 class="center teal lighten-4">My To Do Lists </h3>
  

{% for list in lists %}

 <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{ url_for( 'static', filename ='coffeetodo.jpg' )}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>

{% endfor %}

<script src="{{ url_for('static', filename='js/to-do.js') }}"></script>
    
</body>
</html>

{% endblock %}