{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/to-do-list.css') }}">
    <!-- Compiled and minified CSS from Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    
    <title>To Do Lists</title>

</head>
<body>
<h3 class="center teal lighten-4">My Categories </h3>
  
<ul class="collection">
    <li class="collection-item avatar">
      <i class="fas fa-list-ol circle green"></i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons"></i></a>
    </li>
    <li class="collection-item avatar">
      <i class="fas fa-list-ol circle green"></i>
        <p><strong> Work </strong></p>
      <a href="#!" class="col s3"><i class="fas fa-arrow-circle-right"></i></a>
      <a href="#!" class="col s3"><i class="fas fa-pen"></i></a>
      <a href="#!" class="col s3"><i class="fas fa-arrow-circle-right"></i></a>
    </li>

  </ul>
            


<script src="{{ url_for('static', filename='js/to-do.js') }}"></script>
    
</body>
</html>

{% endblock %}